
@{
    ViewData["Title"] = "Sign Up";
}
@model web4.Models.ViewModel
<h2>Auth</h2>


<form asp-antiforgery="true" asp-action="Auth" asp-controller="Auth">
    <div style="display:@ViewBag.visibleuser">
        @Html.Partial("_UserForm")
    </div>
    <div style="display:@ViewBag.visibleprivate">
        @Html.Partial("_PrivateUserForm")
    </div>
</form>