
@{
    ViewData["Title"] = "textArea";
}

<h2>Check Bpx</h2>
<form method="post">
    Text
    <input type="checkbox" value="true" name="isSelected"/>
    <input type="submit" value="Submit" />
</form>