
@{
    ViewData["Title"] = "textArea";
}

<h2>List Box</h2>
<form method="post">
    Text
    <select name="months" multiple>
        @foreach (var item in ViewBag.months)
        {
            <option value="@item">@item</option>
        }
    </select>
    <input type="submit" value="Submit" />
</form>

