
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="Controls/textBox">TextBox</a></li>
    <li><a href="Controls/textArea">TextArea</a></li>
    <li><a href="Controls/checkBox">CheckBox</a></li>
    <li><a href="Controls/radio">Radio</a></li>
    <li><a href="Controls/dropDown">DropDown</a></li>
    <li><a href="Controls/listBox">ListBox</a></li>
    <li><a href="Auth/Auth">Sign up</a></li>
    <li><a href="Reset">Reset password</a></li>
</ul>
